/**
 * The new CSS Reset - version 1.2.0 (last updated 23.7.2021)
 */

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/***
 * Fonts
 */
@font-face {
    font-family: "GT Sectra";
    src: url("/fonts/sectra/regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "GT Sectra Display";
    src: url("/fonts/sectra/display-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/jetbrains-mono/regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

/***
 * Base
 */
body {
    font-family: "GT Sectra", serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "GT Sectra Display", serif;
    text-transform: lowercase;
}

code {
    font-family: "JetBrains Mono", monospace;
}

/**
 * Sheet
 */
.sheet {
    display: block;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.sheet__image {
    width: 50%;
    visibility: hidden;
}

.sheet__image--left {
    float: left;
}

.sheet__image--right {
    float: right;
}

.sheet__copy {
    hyphens: auto;
}
